$primary-color: hsl(0, 100%, 64%);
$primary-color-dark: hsl(0, 100%, 40%);
$primary-color-light: hsl(0, 100%, 84%);
$primary-color-lighter: hsl(0, 100%, 95%);

$gray20: hsl(0, 0%, 80%);
$gray40: hsl(0, 0%, 60%);

$shadow: 0 4px 16px 10px hsla(0, 100%, 40%, .04);
$shadow-red: 0 4px 16px 10px hsla(0, 100%, 40%, .04);